<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- Boot Strap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>주식 가격예측 Trading Bot</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <link rel="stylesheet" type="text/css" href="(( url_for('static', filename = 'index_test.css') ))">

  <!-- Import Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  <style>
  .example div {
    display : inline-block;
    border : 2px dotted orangered ;
    background : powderblue;
    margin : 10px;
    
    }
  </style>

</head>

<body>
  <div>
    <!-- Title 및 프로젝트 설명 -->
    <div class="wrap">
      <header>
        <br>
        <div class="innerHeader">
          <h1 class="logo"><a href="#"><span style="color:orangered">DQN</span>을 활용한 가격 예측</a></h1>
        </div>

        <div class="related">
          <a href="#">
            <p></p>
          </a>
          <a href="#">
            <p></p>
          </a>
        </div>
        <br><br><br><br>
        <h4 style="text-align: center;">AI를 활용한 주식 가격 예측 및 수익을 극대화 하는 주식 Trading Bot 개발</h3>
      </header>

      <br>

    </div>
    <!-- Title 및 프로젝트 설명 -->

    <!-- 파일 다운로드 -->
    <br><br><br>
    <div class="input-train-file"
      style=" background: tomato ; border-radius: 10px; left: 50%; margin-right:20%;margin-left: 20%; margin-top: 10px;">
      <div class="inner" style="display:inline-block; background:lightgray; border-radius: 10px; margin: 20px; padding: 10px;">
      <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="trainFile">훈련데이터 파일을 업로드 해주세요 (.csv)</label></br>
        <input type="file" id="trainFile" name="trainFile" accept=".csv">
        <input type="submit" style="float: right; width: 100px" value="훈련 시작">
      </form>
      </div>
      <div class="inner" style="display:inline-block; background:lightgray; border-radius: 10px; margin: 20px; padding: 10px; width: 300px;">
        <form action="/predict" method="POST" enctype="multipart/form-data">
          <label for="trainFile"">최근 1년 (.csv)</label></br>
          Samsung Electronics Co., Ltd.<a href="https://query1.finance.yahoo.com/v7/finance/download/005930.KS?period1=1574329632&period2=1605952032&interval=1d&events=history&includeAdjustedClose=true"><button type="button" style=" margin:10px; ">Download</button></a>
          SK hynix, Inc.<a href="https://query1.finance.yahoo.com/v7/finance/download/000660.KS?period1=1574330551&period2=1605952951&interval=1d&events=history&includeAdjustedClose=true"><button type="button" style=" margin:10px; ">Download</button></a>
          Kakao Corp. <a href="https://query1.finance.yahoo.com/v7/finance/download/035720.KS?period1=1574330495&period2=1605952895&interval=1d&events=history&includeAdjustedClose=true"><button type="button" style=" margin:10px; ">Download</button></a>
          LG Household & Health Care Ltd. <a href="https://query1.finance.yahoo.com/v7/finance/download/051900.KS?period1=1574330610&period2=1605953010&interval=1d&events=history&includeAdjustedClose=true"><button type="button" style=" margin:10px; ">Download</button></a>
          NAVER Corporation <a href="https://query1.finance.yahoo.com/v7/finance/download/035420.KS?period1=1574330695&period2=1605953095&interval=1d&events=history&includeAdjustedClose=true"><button type="button" style=" margin:10px; ">Download</button>
        </form>
    
    <!-- 파일 다운로드 -->
    <!-- 파일 첨부란 작성 -->
    <div id="lstm-option" style="height: 100px;">
      <div style="width: 100%; text-align: center;">
        <button @click="show = !show" id="advanced-option">
          고급옵션
        </button>
      </div>
      <div class="input-train-file">
        <form action="/predict" method="POST" enctype="multipart/form-data">
          <label for="trainFile" style="margin:10px">훈련데이터 파일을 업로드 해주세요 (.csv)</label></br>
          <input style="margin: 10px; " type="file" id="trainFile" name="trainFile" accept=".csv">
          <input type="submit" style="float: right; margin:10px; width: 100px" value="훈련 시작">
          <div class="example" style="background-color: white;">
            <transition name="slide-fade">
              <fieldset style="width:fit-content" v-if="show">
                <legend>LSTM Options</legend>
                Epoch :
                <input type="range" min="5" max="1000" step="10" name="EPOCH">
                Batch_size :
                <input type="radio" name="BATCHSIZE" value="32">32
                <input type="radio" name="BATCHSIZE" value="64">64
                <input type="radio" name="BATCHSIZE" value="128">128
                Window :
                <input type="number" min="0" max="100" step="10" name="WINDOW" value="100">
                Predict Period :
                <input type="number" min="10" max="20" step="1" name="PREDICT_PERIOD" value="10">
              </fieldset>
            </transition>
          </div>
        </form>
      </div>
    </div>
    <link rel="stylesheet" href="../temp.css" />
    <!-- 파일 첨부란 작성 -->

    <!-- LSTM 결과 -->

    <br><br><br>
    <div class="chart-container" style="width: 60%;margin-top: 5%; margin-left: 20%; margin-right: 20%;">
      <canvas id="myChart"></canvas>
      {%if labe%}
      <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
            datasets: [{
              label: '10일 예측 결과',
              data: [
                ((labe[0])),
                ((labe[1])),
                ((labe[2])),
                ((labe[3])),
                ((labe[4])),
                ((labe[5])),
                ((labe[6])),
                ((labe[7])),
                ((labe[8])),
                ((labe[9]))
              ],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            }
          }
        });
      </script>
      {%endif%}
    </div>
    <br>
    <!-- LSTM 결과 -->

    <!-- Trading BOt 실행 버튼 -->
    <div id="dqn-option" style="height: 100px; ">
      <div class="trading_bot_start" style=" text-align:center; height: fit-content; align-content: center;">
        <button @click="show = !show" id="advanced-option">
          고급옵션
        </button>
        <form id="dqn" action="/predict/DQN" method="POST" enctype="multipart/form-data">

          <input id="start_trading_bot" type="submit" value="Start Trading"></input>

          <transition name="slide-fade">
            <fieldset style=" align-items: center;" v-if="show">
              <legend>DQN Options</legend>
              Initial Money :
              <input type="number" min="0" max="10000000" step="10000" name="INITIAL_MONEY" value="1000000">
              Episode :
              <input type="range" min="5" max="1000" step="1" name="EPISODE">
              Batch_size :
              <input type="radio" name="BATCHSIZE" value="32">32
              <input type="radio" name="BATCHSIZE" value="64">64
              <input type="radio" name="BATCHSIZE" value="128">128
              MODE :
              <input type="text" name="DQN_MODE" list="mode">
              <datalist id="mode">
                <option value="train">Train</option>
                <option value="test">Test</option>
              </datalist>
            </fieldset>
          </transition>
        </form>
      </div>
    </div>
    <!-- Trading BOt 실행 버튼 -->

    <!-- Trading 결과 -->
    <div style="margin-top: 5%; margin-left: 20%; margin-right: 20%;">
      <table class="table table-hover" v-if=1>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            <th scope="col">Currency</th>
            <th scope="col">Profit</th>
          </tr>
        </thead>
        <tbody>
          {% for result in dqnResult%}
          <tr>
            <th scope="row"> ((loop.index)) </th>
            <td> (( result[0] )) </td>
            <td> (( result[1] )) </td>
            <td> (( result[2] )) </td>
            <td> (( result[3] )) </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <br><br><br><br>
    <!-- Trading 결과 -->
  </div>

  <script>
    new Vue({
      el: '#lstm-option',
      data: {
        show: false
      }
    })
    new Vue({
      el: '#dqn-option',
      data: {
        show: false
      }
    })
  </script>
</body>


</html>
