<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- Boot Strap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>주식 가격예측 Trading Bot</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <link rel="stylesheet" type="text/css" href="(( url_for('static', filename = 'index_test.css') ))">


  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">


  <!-- Import Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  

  <style>
    body{
      background-color: lightblue;
      font-family: 'Nanum Gothic Coding', monospace;
      margin-right: 15%;margin-left: 15%;margin-top: 20px;
    }
    
  </style>

</head>

<body>
  
    <!-- Title 및 프로젝트 설명 -->
    <div class="wrap">
      <header style="font-family: 'Nanum Gothic Coding', monospace; ">
        <br>
        <div class="innerHeader">
          <h1 class="logo"><a href="#">DQN을 활용한 가격 예측</a></h1>
        </div>

        <br><br><br><br>
        <h4 style="text-align: center;">AI를 활용한 주식 가격 예측 및 수익을 극대화 하는 주식 Trading Bot 개발</h3>
      </header>

      <br>

    </div>
    <!-- Title 및 프로젝트 설명 -->
    <div style="background-color: white;">

    <!-- 파일 다운로드 -->
    <br><br><br>
    <div class="input-train-file"
      style=" background: transparent;display: flex;justify-content: space-between;">
      <div class="inner container center-area" style="height: fit-content; display:inline-block; background:lightgray; border-radius: 10px; margin: 10px; padding: 10px;width:600px; height: fit-content;">
      <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="trainFile">훈련데이터 파일을 업로드 해주세요 (.csv)</label><br><br>
        <input type="file" id="trainFile" name="trainFile" accept=".csv">
        <input type="submit" style="float: right; width: 100px" value="훈련 시작">
      </form>
      <div id="lstm-option" style="height:fit-content;">
        <div style="width: 100%; text-align: left;">
          <br>
          <button @click="show = !show" style="background-color:transparent; font-size: small; color: black;">
            고급옵션...
          </button>
        </div>
        <form action="/lstmOptions" method="GET" style="height:fit-content;">
          <transition name="slide-fade">
            <div v-if="show">
              Epoch :
              <input type="range" min="5" max="1000" step="10" name="EPOCH" value="500"><br>
              Batch_size :
              <input type="radio" name="BATCHSIZE" value="32" checked>32
              <input type="radio" name="BATCHSIZE" value="64">64
              <input type="radio" name="BATCHSIZE" value="128">128<br>
              Window :
              <input type="number" min="0" max="100" step="10" name="WINDOW" value="100"><br>
              Predict Period :
              <input type="number" min="10" max="20" step="1" name="PREDICT_PERIOD" value="10">
              <input type="submit" style="float: right;" value="변수 설정">
            </div>
          </transition>
        </form>
     </div>
      </div>
      <div class="inner" style="display:inline-block; background:lightgray; border-radius: 10px; margin: 10px;  padding: 10px; width: 400px;">
        <form >
          <label for="trainFile">최근 1년 (.csv)</label></br>
          <div style=" vertical-align:middle;"><div style="display:inline-block">Electronics Co., Ltd.</div><div style="display: inline-block; float: right;margin: 0;"><button type="button" ><a href="https://query1.finance.yahoo.com/v7/finance/download/005930.KS?period1=1574329632&period2=1605952032&interval=1d&events=history&includeAdjustedClose=true">Download</a></button></div></div><br>
          <div style="vertical-align:middle;"><div style="display:inline-block">SK hynix, Inc.</div><div style="display: inline-block; float: right;"><button type="button"><a href="https://query1.finance.yahoo.com/v7/finance/download/000660.KS?period1=1574330551&period2=1605952951&interval=1d&events=history&includeAdjustedClose=true">Download</a></button></div></div><br>
          <div style="vertical-align:middle;"><div style="display:inline-block">Kakao Corp. </div><div style="display: inline-block; float: right;"><button type="button"><a href="https://query1.finance.yahoo.com/v7/finance/download/035720.KS?period1=1574330495&period2=1605952895&interval=1d&events=history&includeAdjustedClose=true">Download</a></button></div></div><br>
          <div style="vertical-align:middle;"><div style="display:inline-block">LG Household & Health Care Ltd. </div><div style="display: inline-block; float: right;"><button type="button"><a href="https://query1.finance.yahoo.com/v7/finance/download/051900.KS?period1=1574330610&period2=1605953010&interval=1d&events=history&includeAdjustedClose=true">Download</a></button></div></div><br>
          <div style="vertical-align:middle;"><div style="display:inline-block">NAVER Corporation </div><div style="display: inline-block; float: right;"><button type="button"><a href="https://query1.finance.yahoo.com/v7/finance/download/035420.KS?period1=1574330695&period2=1605953095&interval=1d&events=history&includeAdjustedClose=true">Download</a></button></div></div>
        </form>
        </div>
    </div>
    <!-- 파일 다운로드 -->

    <!-- LSTM 결과 -->

    <br><br><br>
    (% if labe %)
    <div class="chart-container" style="width: 60%;margin-top: 5%; margin-left: 20%; margin-right: 20%;">
      <canvas id="myChart"></canvas>
      <script>
        var ctx = document.getElementById('myChart');      
        var labels = [];
        var datas = [(( labe | join(', ')))];
        console.log(datas);
        for(var i = 0; i < ((labe|count)); i++){
          labels.push(String(i+1));
        }
        var label = ((labe|count)) + "일 예측 결과";

        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [{
              label: label,
              data: datas,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            }
          }
        });
      </script>
    </div>
    (%endif%)
    <br>
    <!-- LSTM 결과 -->

    <!-- Trading BOt 실행 버튼 -->
    <div id="dqn-option" style="height: 100px; ">
      <div class="trading_bot_start" style=" text-align:center; height: fit-content; align-content: center;">
        <form id="dqn" action="/predict/DQN" method="POST">
          <input id="start_trading_bot" style="font-family: 'Nerko One', cursive;" type="submit" value="Start Trading"></input>
        </form>
        <div style="margin-left: 20%;">
        <button @click="show = !show" style="background-color:transparent; font-size: small; float: left;">
          고급옵션...
        </button> <br>
        <form action="/dqnOptions" method="GET">
          <transition name="slide-fade">
            <fieldset style=" text-align: left;" v-if="show">
              Initial Money :
              <input type="number" min="0" max="10000000" step="10000" name="INITIAL_MONEY" value="1000000"><br>
              Episode :
              <input type="range" min="5" max="1000" step="1" name="EPISODE" value="500"><br>
              Batch_size :
              <input type="radio" name="DQN_BATCHSIZE" value="32" checked>32
              <input type="radio" name="DQN_BATCHSIZE" value="64">64
              <input type="radio" name="DQN_BATCHSIZE" value="128">128<br>
              MODE :
              <input type="text" name="DQN_MODE" list="mode" value="train">
              <datalist id="mode">
                <option value="train">Train</option>
                <option value="test">Test</option>
              </datalist>
              <input type="submit" value="변수 설정">
            </fieldset>
          </transition>
        </form>
        </div>

      </div>
    </div>
    <!-- Trading BOt 실행 버튼 -->

    <!-- Trading 결과 -->
    <div style="margin-top: 5%; margin-left: 20%; margin-right: 20%;">
      <table class="table table-hover" v-if=1>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            <th scope="col">Currency</th>
            <th scope="col">Profit</th>
          </tr>
        </thead>
        <tbody>
          (% for result in dqnResult%)
          <tr>
            <th scope="row"> ((loop.index)) </th>
            <td> (( result[0] )) </td>
            <td> (( result[1] )) </td>
            <td> (( result[2] )) </td>
            <td> (( result[3] )) </td>
          </tr>
          (% endfor %)

        </tbody>
      </table>
    </div>

    <br><br><br><br>
    <!-- Trading 결과 -->
  </div>

  <script>
    new Vue({
      el: '#lstm-option',
      data: {
        show: false
      }
    })
    new Vue({
      el: '#dqn-option',
      data: {
        show: false
      }
    })
  </script>
</body>


</html>
